[submodule ".emacs.d/vendor/rainbow-mode"]
	path = .emacs.d/vendor/rainbow-mode
	url = git://git.naquadah.org/rainbow.git
[submodule ".emacs.d/vendor/birds-of-paradise-plus"]
	path = .emacs.d/vendor/birds-of-paradise-plus
	url = https://github.com/jimeh/birds-of-paradise-plus-theme.el.git
[submodule ".emacs.d/vendor/twilight-emacs"]
	path = .emacs.d/vendor/twilight-emacs
	url = git@github.com:gwtaylor/twilight-emacs.git
[submodule ".emacs.d/vendor/virtualenv.el"]
	path = .emacs.d/vendor/virtualenv.el
	url = https://github.com/aculich/virtualenv.el.git
[submodule ".emacs.d/vendor/fgallina-python"]
	path = .emacs.d/vendor/fgallina-python
	url = https://github.com/fgallina/python.el.git
[submodule ".emacs.d/vendor/fgeller-expand-region"]
	path = .emacs.d/vendor/fgeller-expand-region
	url = https://github.com/fgeller/expand-region.el.git
