[submodule ".emacs.d/vendor/rainbow-mode"]
	path = .emacs.d/vendor/rainbow-mode
	url = git://git.naquadah.org/rainbow.git
[submodule ".emacs.d/vendor/birds-of-paradise-plus"]
	path = .emacs.d/vendor/birds-of-paradise-plus
	url = https://github.com/jimeh/birds-of-paradise-plus-theme.el.git
